<tr>
    <th><a href="/goal/{{id}}">{{name}}</a></th>
    <td><progress class="progress is-link" value="{{progress}}" max="100">{{progress}}%</progress></td>
    <td>${{target_quantity}}</td>
    <td><button class="button is-danger is-small" data-id="{{id}}">Delete</button></td>
</tr>